.navbar {
  width: 30vh;
  max-width: 500px;
  height: 100vh;
  background-color: #292b2c;

  &-container {
    padding: 2rem;
    color: #fff;
  }

  &-title {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1.5rem;

    > a {
      color: #fff;
    }
  }

  &-item {
    margin: 8px 0;

    > a {
      color: #fff;

      &:hover {
        color: aqua;
      }
    }
  }

  .item-active {
    > a {
      color: aqua;
    }
  }
}
