.navbar {
  width: 40vh;
  max-width: 500px;
  height: 100vh;
  background-color: #292b2c;

  &-container {
    padding: 2rem;
  }

  &-title {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  &-item {
    margin: 8px 0;

    > a:hover {
      color: aqua !important;
    }
  }

  .item-active {
    > a {
      color: rgb(4, 252, 252);
    }
  }
}