<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./utils/head.ejs"); %>
  </head>
  <style></style>
  <body>
    <div style="max-width: 900px; margin: 2rem auto 0 auto">
      <embed
        src="<%= data.filePath %>"
        width="900"
        height="1200"
        type="application/pdf"
      />
    </div>
  </body>
</html>
