<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./utils/head.ejs"); %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <%- include("./utils/navbar.ejs"); %>
        <div class="col col-md-9 py-3">
          <div class="d-flex align-items-center justify-content-center">
            <div class="text-center">
              <div class="main-content">
                <h2 class="mb-1">Welcome to My Website!</h2>
                <p class="lead">
                  This website is a collection of my certificates.
                </p>
                <p>
                  If you are looking for a specific certificate, please choose
                  one from the left navigation sidebar to continue browsing our
                  collection.
                </p>
              </div>

              <div class="main-content mt-4">
                <h2 class="mb-1">Willkommen auf meiner Website!</h2>
                <p class="lead">
                  Diese Website ist eine Sammlung meiner Zertifikate.
                </p>
                <p>
                  Wenn Sie nach einem bestimmten Zertifikat suchen, wählen Sie
                  bitte eines aus der linken Navigationsleiste, um meine
                  Sammlung weiter zu durchsuchen.
                </p>
              </div>

              <div class="main-content mt-4">
                <h2 class="mb-1">Ласкаво просимо на мій веб-сайт!</h2>
                <p class="lead">Цей веб-сайт є колекцією моїх сертифікатів.</p>
                <p>
                  Якщо ви шукаєте певний сертифікат, будь ласка, виберіть його з
                  бокової панелі навігації зліва, щоб продовжити перегляд моєї
                  колекції.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
