<% navbarListData.forEach(function(item, i) { %>
<li class="w-100">
  <a
    href="<%= item.endpoint %>"
    class="nav-link px-0 <%= data.key === item.key ? ' link-primary' : ' link-light' %>"
  >
    <%= i+1 %>. <span class="d-none d-sm-inline"><%= item.text %></span>
  </a>
</li>
<% }); %>
