.certificate {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 40px;


  &-title {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-weight: 700px;
  }

  &-description {

    p {
      margin: 0.8rem 0;
    }

    .organization a {
      color: black;

      &:hover {
        color: rgb(15, 123, 123);
        transition: .5s;
      }
    }
  }

}
